.app__what2do {
    display: flex;
    flex-direction: column;

    padding: 2rem;


    background: var(--color-footer);

}

.app__what2do-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}





/* Customizing feature component as per needs */
.app__what2do-feature .app__feature-container__feature {
    margin: 0;
}

/* Customizing feature component as per needs */
.app__what2do-feature .app__feature-container__feature-text {
    max-width: 700px;
}

.app__what2do-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 4rem 0 2rem;
}

.app__what2do-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
}

.app__what2do-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.app__what2do-container {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    
    margin-top: 2rem;
}


.app__what2do-container .app__what2do-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}


.app__what2do-container .app__what2do-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .app__what2do-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .app__what2do-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    /* Customizing feature component as per needs */
    .app__what2do-feature .gpt3__features-container__feature {
        flex-direction: column;
    }

    /* Customizing feature component as per needs */
    .gpt3__whatgpt3-feature .app__what2do-container_feature-text {
        margin-top: 0.5rem;
    }

    .app__what2do-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }

}

@media screen and (max-width: 350px) {
    /* Customizing feature component as per needs */
    .app__what2do-container .app__what2do-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }

    app__what2do-feature p{
        padding-left: 10px;
    }
}